/**
 * Skin Name: Default
 */



/***********************************************************************************

    ███████╗████████╗██████╗ ██╗   ██╗ ██████╗████████╗██╗   ██╗██████╗ ███████╗
    ██╔════╝╚══██╔══╝██╔══██╗██║   ██║██╔════╝╚══██╔══╝██║   ██║██╔══██╗██╔════╝
    ███████╗   ██║   ██████╔╝██║   ██║██║        ██║   ██║   ██║██████╔╝█████╗
    ╚════██║   ██║   ██╔══██╗██║   ██║██║        ██║   ██║   ██║██╔══██╗██╔══╝
    ███████║   ██║   ██║  ██║╚██████╔╝╚██████╗   ██║   ╚██████╔╝██║  ██║███████╗
    ╚══════╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝  ╚═════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚══════╝

 ***********************************************************************************/



    /* A general background image. */
    
    #body-table {
        background-image: url('img/background.jpg');
        background-position: 50% 0;
        background-repeat: no-repeat;
    }



    /* Narrow columns. */

    .row.narrow .column-content {
        margin: 0 1.5em;
    }

    .row.narrow-x .column-content {
        margin: 0 2.5em;
    }

    .row.narrow-xx .column-content {
        margin: 0 4.5em;
    }



    /* Coloured row. */

    .row.colour {
        background-color: #f1f1f1;
    }



 /******************************************************

    ██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗
    ██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
    ███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
    ██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
    ██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
    ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝

 ******************************************************/



    .header {
    }



/********************************************************************************************

    ████████╗██╗   ██╗██████╗  ██████╗  ██████╗ ██████╗  █████╗ ██████╗ ██╗  ██╗██╗   ██╗
    ╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║  ██║╚██╗ ██╔╝
       ██║    ╚████╔╝ ██████╔╝██║   ██║██║  ███╗██████╔╝███████║██████╔╝███████║ ╚████╔╝
       ██║     ╚██╔╝  ██╔═══╝ ██║   ██║██║   ██║██╔══██╗██╔══██║██╔═══╝ ██╔══██║  ╚██╔╝
       ██║      ██║   ██║     ╚██████╔╝╚██████╔╝██║  ██║██║  ██║██║     ██║  ██║   ██║
       ╚═╝      ╚═╝   ╚═╝      ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝  ╚═╝   ╚═╝

 ********************************************************************************************/



    .column {
    }

        .column .text {
        }


        .text {
            color: #505050;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.6;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: Baskerville, Georgia, serif;
            line-height: 1.2;
        }

        .text a {
            color: #0E4087;
        }



/**********************************************************

    ███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗
    ██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
    █████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
    ██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
    ██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
    ╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

 **********************************************************/



    .footer {
    }



/******************************************************

    ███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
    ████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
    ██╔████╔██║██║   ██║██████╔╝██║██║     █████╗  
    ██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝  
    ██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
    ╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝
                                                   
 ******************************************************/



@media only screen and (max-width: 480px) {

}